.baskervville-regular {
  font-family: "Baskervville", serif;
  font-weight: 400;
  font-style: normal;
}

.hangText {
  font-family: "Baskervville", serif, cursive;
}

.box-container {
  width: 300px;
  height: 290px;
  margin: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.to-display {
  border: 1px solid wheat;
  text-align: center;
  padding: 66px 40px;
  font-size: 2rem;
  opacity: 0;
}

.containerBtn {
  width: 100px;
  font-size: 1.1rem;
  background: transparent;
  border: 0.5px solid whitesmoke;
  padding: 7px 0px;
  cursor: pointer;
}

.hanging {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.534);
  width: 120px;
  padding: 12px;
  text-align: center;
  top: -2px;
  opacity: 0;
  transition: all 0.5s ease-in;
  right: -60px;
}

.hanging ol {
  margin-top: 10px;
  list-style: none;
}

.forPosition {
  width: 10px;
  height: 10px;
  position: relative;
}

.containerOne {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 10px;
}

.extra1 {
  display: flex;
  flex-direction: row;
}

.extra2 {
  display: flex;
  flex-direction: row;
}

.increaseFont {
  font-size: 18px;
}

.box-container:hover .to-display {
  opacity: 1;
  transform: scale(1.1);
  transition: all 0.5s ease-in;
  background-color: rgba(0, 0, 0, 0.247);
}

/* #toDisplayPlaces:hover .hanging {
  opacity: 1;
} */

.box-container:hover {
  filter: grayscale(70%);
}

.containerBtn:hover {
  background-color: rgba(0, 0, 0, 0.582);
  color: white;
}

@media screen and (max-width: 1250px) {
  .containerOne {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
  }
}

@media screen and (max-width: 676px) {
  .extra1 {
    flex-direction: column;
  }
}

@media screen and (max-width: 450px) {
  .hanging {
    right: 0px;
  }

  .layout {
    gap: 0px;
    padding: 0px;
    margin-top: 16px;
  }
}
