.infoCard {
  width: 323px;
  height: 290px;
  position: relative;
  border-radius: 4px;
  overflow: hidden;
  line-height: 150%;
  box-shadow: 0px 10px 20px rgba(80, 80, 80, 0.2);
  transition: box-shadow 0.3s ease-in-out;
  margin: 20px;
}

.layout {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
  padding: 40px;
}

.infoCard-info {
  position: absolute;
  bottom: 10px;
  width: 100%;
  text-align: center;
}

.main-heading {
  text-align: center;
  background-color: rgba(0, 0, 0, 0.534);
  padding: 10px;
  max-width: 100vw;
  font-size: 2rem;
  font-weight: 600;
}

.infoCard-img {
  height: 100%;
  width: 100%;
  position: absolute;
  transition: transform 0.3s ease-in-out;
  z-index: 2;
}

.infoTitle {
  color: rgb(19, 20, 24);
  font-size: 1.5em;
  font-weight: bold;
  padding: 8px;
  background: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(10px);
}

.infoSubtitle {
  letter-spacing: 1px;
  font-size: 0.9em;
  display: none;
}

.infoCard:hover .infoCard-img {
  background-color: rgba(0, 0, 0, 0.445);
  transform: translateY(-5em);
  color: black;
}

.infoCard:hover .infoSubtitle {
  color: black;
  display: block;
  margin-top: 100px;
  font-weight: 600;
  transition-delay: 2s;
  background: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(10px);
}

.infoCard:hover {
  transform: scale(1.1);
  transition: all 0.5s ease;
}

.infoCard:hover .infoTitle {
  display: none;
}

.toScroll {
  overflow-y: scroll;
  height: 70vh;
  width: 100%;
}

@media screen and (min-width: 440px) {
  .infoCard:hover .infoCard-img {
    transform: translateY(-5em);
    background-color: rgba(0, 0, 0, 0.445);
    color: black;
  }
  .infoCard:hover .infoSubtitle {
    color: black;
    display: block;
    margin-top: 40px;
    font-weight: 600;
    transition-delay: 2s;
    background: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(10px);
  }

  .infoCard:hover .infoTitle {
    display: none;
  }

  ::-webkit-scrollbar {
    width: 14px;
  }

  ::-webkit-scrollbar-track {
    background: #121212;
  }

  ::-webkit-scrollbar-thumb {
    background: #555;
  }

  ::-webkit-scrollbar-thumb:hover {
    background: #888;
  }
}

@media screen and (max-width: 450px) {
  .layout {
    gap: 0px;
    padding: 0px;
    margin-top: 16px;
  }
}
