.headingtxt {
  font-size: 4rem;
}

.forminfo {
  display: flex;
  flex-direction: column;
  width: 380px;
  background-color: rgba(0, 0, 0, 0.445);
  padding: 10px 14px;
  border-radius: 12px;
}

form input {
  margin: 16px 0;
  padding: 6px 0px 6px 12px;
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.479);
  border-radius: 10px;
}

form label {
  font-size: 1rem;
  font-weight: 600;
}

textarea {
  padding: 6px 0px 6px 12px;
  margin: 16px 0 14px 0;
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.479);
  border-radius: 10px;
  resize: none;
}

.contact {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  width: 100%;
}

.btn1 {
  background-color: rgba(67, 67, 212, 0.658);
  border: none;
  padding: 10px 0;
  cursor: pointer;
  border-radius: 12px;
}
